In [1]:
import pandas as pd 
import numpy as np

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_ref                89999 non-null  int64
 1   application_id              89999 non-null  int64
 2   application_hour            89999 non-null  int64
 3   application_day_of_week     89999 non-null  int64
 4   account_open_year           89999 non-null  int64
 5   preferred_contact           89999 non-null  object
 6   referral_code               89999 non-null  object
 7   account_status_code         89999 non-null  object
 8   random_noise_1              89999 non-null  float64
 9   num_login_sessions          89999 non-null  int64
 10  num_customer_service_calls  89999 non-null  int64
 11  has_mobile_app              89999 non-null  int64
 12  paperless_billing           89999 non-null  int64
 13  default                     89999 non-null  int64
dtypes: float64(1), int64(10), object(3)
memory usage: 9.6+ MB

In [2]:
df = pd.read_csv('application_metadata.csv')
df.head()

,customer_ref,application_id,application_hour,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,5,6,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,624978,4,2,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,564658,10,3,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,621493,7,5,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,637785,1,2,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0

In [4]:
df.rename(columns={'customer_ref':'customer_id'}, inplace=True)

In [16]:
df2 = df.drop('random_noise_1', axis=1)
df2.head()

,customer_id,application_id,application_hour,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,5,6,2013,Mail,REF0000,ACT-2,13,2,1,1,0
1,10001,624978,4,2,2015,Phone,REF0000,ACT-3,6,1,1,1,1
2,10002,564658,10,3,2020,Phone,REF0000,ACT-3,1,2,1,0,0
3,10003,621493,7,5,2010,Email,REF0000,A01,4,1,1,1,0
4,10004,637785,1,2,2020,Mail,REF0000,ACT-3,6,2,1,0,0

In [17]:
df2 = df2.drop('application_hour',axis=1)
df2.head()

,customer_id,application_id,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,6,2013,Mail,REF0000,ACT-2,13,2,1,1,0
1,10001,624978,2,2015,Phone,REF0000,ACT-3,6,1,1,1,1
2,10002,564658,3,2020,Phone,REF0000,ACT-3,1,2,1,0,0
3,10003,621493,5,2010,Email,REF0000,A01,4,1,1,1,0
4,10004,637785,2,2020,Mail,REF0000,ACT-3,6,2,1,0,0

In [18]:
df2 = df2.drop('application_day_of_week',axis=1)
df2.head()

,customer_id,application_id,account_open_year,preferred_contact,referral_code,account_status_code,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,2013,Mail,REF0000,ACT-2,13,2,1,1,0
1,10001,624978,2015,Phone,REF0000,ACT-3,6,1,1,1,1
2,10002,564658,2020,Phone,REF0000,ACT-3,1,2,1,0,0
3,10003,621493,2010,Email,REF0000,A01,4,1,1,1,0
4,10004,637785,2020,Mail,REF0000,ACT-3,6,2,1,0,0

In [20]:
df2 = df2.drop('preferred_contact',axis=1)
df2.head()

,customer_id,application_id,account_open_year,referral_code,account_status_code,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,2013,REF0000,ACT-2,13,2,1,1,0
1,10001,624978,2015,REF0000,ACT-3,6,1,1,1,1
2,10002,564658,2020,REF0000,ACT-3,1,2,1,0,0
3,10003,621493,2010,REF0000,A01,4,1,1,1,0
4,10004,637785,2020,REF0000,ACT-3,6,2,1,0,0

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   application_id              89999 non-null  int64
 2   account_open_year           89999 non-null  int64
 3   referral_code               89999 non-null  object
 4   account_status_code         89999 non-null  object
 5   num_login_sessions          89999 non-null  int64
 6   num_customer_service_calls  89999 non-null  int64
 7   has_mobile_app              89999 non-null  int64
 8   paperless_billing           89999 non-null  int64
 9   default                     89999 non-null  int64
dtypes: int64(8), object(2)
memory usage: 6.9+ MB

In [23]:
from sklearn.preprocessing import LabelEncoder
categorical_cols = ['referral_code', 'account_status_code']
for col in categorical_cols:
    le = LabelEncoder()
    df2[col] = le.fit_transform(df2[col].astype(str))

In [25]:
df2['referral_code'].value_counts() #imbalance

0       71987
2863       13
7317        9
2635        9
4625        8
        ...
86          1
5599        1
2652        1
5127        1
2440        1
Name: referral_code, Length: 7805, dtype: int64

In [28]:
df2 = df2.drop('referral_code',axis=1)

In [31]:
df2.to_csv("cleaned_application_metadata.csv", index=False)