In [1]:
import pandas as pd

credit = pd.read_parquet("credit_history.parquet")
credit.head()

,customer_number,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,recent_inquiry_count,num_public_records,num_collections,account_diversity_index
0,10000,696,14,22.8,273.6,169100.0,0.0,2,2,1,0,0.499
1,10001,659,13,3.5,42.0,78200.0,0.0,6,6,0,0,0.298
2,10002,662,3,0.0,0.0,41400.0,0.0,2,2,0,0,0.174
3,10003,676,8,9.0,108.0,60000.0,0.0,1,1,0,0,0.263
4,10004,678,7,8.0,96.0,49700.0,0.0,1,1,0,0,0.298

In [2]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_number            89999 non-null  int64
 1   credit_score               89999 non-null  int64
 2   num_credit_accounts        89999 non-null  int64
 3   oldest_credit_line_age     89999 non-null  float64
 4   oldest_account_age_months  89999 non-null  float64
 5   total_credit_limit         89999 non-null  float64
 6   num_delinquencies_2yrs     89167 non-null  float64
 7   num_inquiries_6mo          89999 non-null  int64
 8   recent_inquiry_count       89999 non-null  int64
 9   num_public_records         89999 non-null  int64
 10  num_collections            89999 non-null  int64
 11  account_diversity_index    89999 non-null  float64
dtypes: float64(5), int64(7)
memory usage: 8.2 MB

In [3]:
credit['num_delinquencies_2yrs'].value_counts()

0.0    87458
1.0     1695
2.0       14
Name: num_delinquencies_2yrs, dtype: int64

In [4]:
credit['num_delinquencies_2yrs'] = credit['num_delinquencies_2yrs'].fillna(0)

In [5]:
credit.isnull().sum()

customer_number              0
credit_score                 0
num_credit_accounts          0
oldest_credit_line_age       0
oldest_account_age_months    0
total_credit_limit           0
num_delinquencies_2yrs       0
num_inquiries_6mo            0
recent_inquiry_count         0
num_public_records           0
num_collections              0
account_diversity_index      0
dtype: int64

In [12]:
credit['num_public_records'].value_counts()

0    83464
1     6535
Name: num_public_records, dtype: int64

In [13]:
credit = credit.drop('num_public_records',axis=1)
credit.head()

,customer_number,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,recent_inquiry_count,num_collections,account_diversity_index
0,10000,696,14,22.8,273.6,169100.0,0.0,2,2,0,0.499
1,10001,659,13,3.5,42.0,78200.0,0.0,6,6,0,0.298
2,10002,662,3,0.0,0.0,41400.0,0.0,2,2,0,0.174
3,10003,676,8,9.0,108.0,60000.0,0.0,1,1,0,0.263
4,10004,678,7,8.0,96.0,49700.0,0.0,1,1,0,0.298

In [15]:
credit['num_collections'].value_counts()

0    87191
1     2808
Name: num_collections, dtype: int64

In [16]:
credit = credit.drop('num_collections',axis=1)
credit.head()

,customer_number,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,recent_inquiry_count,account_diversity_index
0,10000,696,14,22.8,273.6,169100.0,0.0,2,2,0.499
1,10001,659,13,3.5,42.0,78200.0,0.0,6,6,0.298
2,10002,662,3,0.0,0.0,41400.0,0.0,2,2,0.174
3,10003,676,8,9.0,108.0,60000.0,0.0,1,1,0.263
4,10004,678,7,8.0,96.0,49700.0,0.0,1,1,0.298

In [19]:
credit.rename(columns={'customer_number':'customer_id'}, inplace=True)

In [20]:
credit.to_csv("cleaned_credit_history.csv", index=False)