In [2]:
import numpy as np 
import pandas as pd

In [3]:
df_geographic = pd.read_xml("geographic_data.xml")
df_geographic.head()

,id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,OH,4.8,56000,1380.0,91.0,73.0,451
1,10001,PA,4.4,61000,1510.0,92.0,87.0,537
2,10002,VA,3.9,74000,1920.0,125.0,103.0,679
3,10003,CA,5.8,75000,1690.0,158.0,121.0,719
4,10004,WA,5.8,78000,1700.0,152.0,127.0,933

In [4]:
df_geographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          89999 non-null  int64
 1   state                       89999 non-null  object
 2   regional_unemployment_rate  89999 non-null  float64
 3   regional_median_income      89999 non-null  int64
 4   regional_median_rent        89999 non-null  float64
 5   housing_price_index         89999 non-null  float64
 6   cost_of_living_index        89999 non-null  float64
 7   previous_zip_code           89999 non-null  int64
dtypes: float64(4), int64(3), object(1)
memory usage: 5.5+ MB

In [7]:
df_geographic['state'].value_counts()

CA    11552
TX     9595
FL     7806
NY     7595
IL     4771
PA     4684
OH     3842
NC     3839
MI     3838
GA     3779
MD     2999
VA     2921
MA     2878
MO     2877
NJ     2877
WI     2859
WA     2852
AZ     2825
IN     2820
TN     2790
Name: state, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_geographic['state'] = le.fit_transform(df_geographic['state'].astype(str))
df_geographic.head()

,id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,13,4.8,56000,1380.0,91.0,73.0,451
1,10001,14,4.4,61000,1510.0,92.0,87.0,537
2,10002,17,3.9,74000,1920.0,125.0,103.0,679
3,10003,1,5.8,75000,1690.0,158.0,121.0,719
4,10004,18,5.8,78000,1700.0,152.0,127.0,933

In [11]:
df_geographic.rename(columns={'id':'customer_id'}, inplace=True)
df_geographic.head()

,customer_id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,13,4.8,56000,1380.0,91.0,73.0,451
1,10001,14,4.4,61000,1510.0,92.0,87.0,537
2,10002,17,3.9,74000,1920.0,125.0,103.0,679
3,10003,1,5.8,75000,1690.0,158.0,121.0,719
4,10004,18,5.8,78000,1700.0,152.0,127.0,933

In [12]:
df_geographic.to_csv("cleaned_geographic_data.csv", index=False)