In [1]:
import numpy as np 
import pandas as pd

In [3]:
df_ratios = pd.read_json("financial_ratios.jsonl" , lines = 'True')

# Birinchi 5 qatorni ko'rish
df_ratios.head()

,cust_num,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,"5,150.00",738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,"2,383.33",392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,"1,725.00",204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,"2,616.67",$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,"2,050.00",$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42

In [4]:
df_ratios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cust_num                    89999 non-null  int64
 1   monthly_income              89999 non-null  object
 2   existing_monthly_debt       89999 non-null  object
 3   monthly_payment             89999 non-null  object
 4   debt_to_income_ratio        89999 non-null  float64
 5   debt_service_ratio          89999 non-null  float64
 6   payment_to_income_ratio     89999 non-null  float64
 7   credit_utilization          89999 non-null  float64
 8   revolving_balance           88622 non-null  object
 9   credit_usage_amount         89999 non-null  object
 10  available_credit            89999 non-null  object
 11  total_monthly_debt_payment  89999 non-null  object
 12  annual_debt_payment         89999 non-null  float64
 13  loan_to_annual_income       89999 non-null  float64
 14  total_debt_amount           89999 non-null  object
 15  monthly_free_cash_flow      89999 non-null  object
dtypes: float64(6), int64(1), object(9)
memory usage: 11.0+ MB

In [5]:
object_cols = ['monthly_income', 'existing_monthly_debt', 'monthly_payment',
               'revolving_balance', 'credit_usage_amount', 'available_credit',
               'total_monthly_debt_payment', 'total_debt_amount', 'monthly_free_cash_flow']

for col in object_cols:
    # $ va , belgilarini olib tashlash va float ga oâ€˜tkazish
    df_ratios[col] = df_ratios[col].replace('[\$,]', '', regex=True).astype(float)

df_ratios.head()

,cust_num,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,5150.00,738.64,592.13,0.258,0.258402,0.115,0.841,142213.1,142213.1,26886.9,1330.77,15969.24,0.286408,159913.1,3819.230000
1,10001,2383.33,392.21,1013.86,0.590,0.589959,0.425,0.971,75932.2,75932.2,2267.8,1406.07,16872.84,3.986014,189932.2,977.260000
2,10002,1725.00,204.07,317.81,0.303,0.302539,0.184,0.539,22314.6,22314.6,19085.4,521.88,6262.56,0.449275,31614.6,1203.120000
3,10003,2616.67,288.71,234.52,0.200,0.199961,0.090,0.147,8820.0,8820.0,51180.0,523.23,6278.76,0.277070,17520.0,2093.436667
4,10004,2050.00,248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,25446.4,583.58,7002.96,0.292683,31453.6,1466.420000

In [6]:
df_ratios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cust_num                    89999 non-null  int64
 1   monthly_income              89999 non-null  float64
 2   existing_monthly_debt       89999 non-null  float64
 3   monthly_payment             89999 non-null  float64
 4   debt_to_income_ratio        89999 non-null  float64
 5   debt_service_ratio          89999 non-null  float64
 6   payment_to_income_ratio     89999 non-null  float64
 7   credit_utilization          89999 non-null  float64
 8   revolving_balance           88622 non-null  float64
 9   credit_usage_amount         89999 non-null  float64
 10  available_credit            89999 non-null  float64
 11  total_monthly_debt_payment  89999 non-null  float64
 12  annual_debt_payment         89999 non-null  float64
 13  loan_to_annual_income       89999 non-null  float64
 14  total_debt_amount           89999 non-null  float64
 15  monthly_free_cash_flow      89999 non-null  float64
dtypes: float64(15), int64(1)
memory usage: 11.0 MB

In [7]:
df_ratios.rename(columns={'cust_num':'customer_id'}, inplace=True)

In [12]:
df_ratios['revolving_balance'][:100]

0     142213.1
1      75932.2
2      22314.6
3       8820.0
4      24253.6
        ...
95     36025.5
96     20350.4
97     31521.4
98    138505.8
99     34464.0
Name: revolving_balance, Length: 100, dtype: float64

In [13]:
df_ratios['credit_usage_amount'][:100]

0     142213.1
1      75932.2
2      22314.6
3       8820.0
4      24253.6
        ...
95     36025.5
96     20350.4
97     31521.4
98    138505.8
99     34464.0
Name: credit_usage_amount, Length: 100, dtype: float64

In [14]:
df_2 = df_ratios.drop('revolving_balance',axis=1)
df_2.head()

,customer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,5150.00,738.64,592.13,0.258,0.258402,0.115,0.841,142213.1,26886.9,1330.77,15969.24,0.286408,159913.1,3819.230000
1,10001,2383.33,392.21,1013.86,0.590,0.589959,0.425,0.971,75932.2,2267.8,1406.07,16872.84,3.986014,189932.2,977.260000
2,10002,1725.00,204.07,317.81,0.303,0.302539,0.184,0.539,22314.6,19085.4,521.88,6262.56,0.449275,31614.6,1203.120000
3,10003,2616.67,288.71,234.52,0.200,0.199961,0.090,0.147,8820.0,51180.0,523.23,6278.76,0.277070,17520.0,2093.436667
4,10004,2050.00,248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,25446.4,583.58,7002.96,0.292683,31453.6,1466.420000

In [15]:
df_2.to_csv("cleaned_financial_ratios.csv", index=False)