In [1]:
import pandas as pd 
import numpy as np 
from sklearn.ensemble import RandomForestClassifier

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          89999 non-null  int64
 1   loan_type            89999 non-null  object
 2   loan_amount          89999 non-null  object
 3   loan_term            89999 non-null  int64
 4   interest_rate        89999 non-null  float64
 5   loan_purpose         89999 non-null  object
 6   loan_to_value_ratio  89999 non-null  float64
 7   origination_channel  89999 non-null  object
 8   loan_officer_id      89999 non-null  int64
 9   marketing_campaign   89999 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.9+ MB

In [2]:
df = pd.read_excel("loan_details.xlsx")
df.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,Personal,"$17,700",36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W
1,10001,mortgage,"$114,000",180,6.83,Refinance,0.774,Branch,1011,B
2,10002,Personal Loan,"9,300",36,13.99,Major Purchase,0.000,Online,1084,K
3,10003,PERSONAL,$8700,48,13.26,Medical,0.000,Online,1048,A
4,10004,Personal,"$7,200",24,10.77,Debt Consolidation,0.000,Branch,1055,S

In [11]:
df.describe()

,customer_id,loan_amount,loan_term,interest_rate,loan_to_value_ratio,loan_officer_id
count,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000
mean,54999.000000,105977.991978,132.369204,11.278835,0.273598,1045.791587
std,25980.617776,147111.296259,152.657187,4.607331,0.378284,32.327924
min,10000.000000,500.000000,0.000000,2.500000,0.000000,995.000000
25%,32499.500000,9800.000000,12.000000,6.960000,0.000000,1010.000000
50%,54999.000000,19200.000000,48.000000,11.290000,0.000000,1048.000000
75%,77498.500000,192800.000000,360.000000,14.820000,0.725000,1077.000000
max,99998.000000,841300.000000,360.000000,22.800000,0.970000,1099.000000

In [4]:
df['loan_type'].unique()

array(['Personal', 'mortgage', 'Personal Loan', 'PERSONAL', 'CreditCard',
       'Credit Card', 'Mortgage', 'Home Loan', 'MORTGAGE', 'CC',
       'credit card', 'personal'], dtype=object)

In [5]:
df['loan_amount'].unique()

array(['$17,700', '$114,000', '9,300', ..., '$230,100', '$429,900',
       '274,400'], dtype=object)

In [8]:
df['loan_amount'] = df['loan_amount'].replace('[\$,]', '', regex=True).astype(float)

In [9]:
df['loan_amount']

0         17700.0
1        114000.0
2          9300.0
3          8700.0
4          7200.0
           ...
89994     11300.0
89995     16500.0
89996     17800.0
89997     11700.0
89998    487100.0
Name: loan_amount, Length: 89999, dtype: float64

In [12]:
df['loan_type'] = df['loan_type'].str.lower().str.strip()

In [26]:
df.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,personal,17700.0,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W
1,10001,mortgage,114000.0,180,6.83,Refinance,0.774,Branch,1011,B
2,10002,personal loan,9300.0,36,13.99,Major Purchase,0.000,Online,1084,K
3,10003,personal,8700.0,48,13.26,Medical,0.000,Online,1048,A
4,10004,personal,7200.0,24,10.77,Debt Consolidation,0.000,Branch,1055,S

In [28]:
df2 = df.drop('loan_to_value_ratio',axis=1)
df2 = df.drop('loan_officer_id',axis=1)
df2.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,marketing_campaign
0,10000,personal,17700.0,36,12.50,Debt Consolidation,0.000,Direct Mail,W
1,10001,mortgage,114000.0,180,6.83,Refinance,0.774,Branch,B
2,10002,personal loan,9300.0,36,13.99,Major Purchase,0.000,Online,K
3,10003,personal,8700.0,48,13.26,Medical,0.000,Online,A
4,10004,personal,7200.0,24,10.77,Debt Consolidation,0.000,Branch,S

In [29]:
from sklearn.preprocessing import LabelEncoder

# 1. Categorical ustunlar ro'yxati
categorical_cols = ['loan_type', 'loan_purpose', 'origination_channel', 'marketing_campaign']

# 2. Label Encoding har bir ustun uchun
for col in categorical_cols:
    le = LabelEncoder()
    df2[col] = le.fit_transform(df2[col].astype(str))

df2.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,marketing_campaign
0,10000,5,17700.0,36,12.50,0,0.000,2,22
1,10001,4,114000.0,180,6.83,6,0.774,0,1
2,10002,6,9300.0,36,13.99,3,0.000,3,10
3,10003,5,8700.0,48,13.26,4,0.000,3,0
4,10004,5,7200.0,24,10.77,0,0.000,0,18

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          89999 non-null  int64
 1   loan_type            89999 non-null  int64
 2   loan_amount          89999 non-null  float64
 3   loan_term            89999 non-null  int64
 4   interest_rate        89999 non-null  float64
 5   loan_purpose         89999 non-null  int64
 6   loan_to_value_ratio  89999 non-null  float64
 7   origination_channel  89999 non-null  int64
 8   marketing_campaign   89999 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 6.2 MB

In [31]:
df2['loan_to_value_ratio'].value_counts()

0.000    58570
0.817      135
0.785      133
0.808      131
0.788      129
         ...
0.519        4
0.532        4
0.514        4
0.506        3
0.500        1
Name: loan_to_value_ratio, Length: 472, dtype: int64

In [32]:
df2 = df2.drop('loan_to_value_ratio',axis=1)
df2.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,origination_channel,marketing_campaign
0,10000,5,17700.0,36,12.50,0,2,22
1,10001,4,114000.0,180,6.83,6,0,1
2,10002,6,9300.0,36,13.99,3,3,10
3,10003,5,8700.0,48,13.26,4,3,0
4,10004,5,7200.0,24,10.77,0,0,18

In [37]:
df2.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,origination_channel,marketing_campaign
0,10000,5,17700.0,36,12.50,0,2,22
1,10001,4,114000.0,180,6.83,6,0,1
2,10002,6,9300.0,36,13.99,3,3,10
3,10003,5,8700.0,48,13.26,4,3,0
4,10004,5,7200.0,24,10.77,0,0,18

In [38]:
df2.to_csv("cleaned_credit_loan.csv", index=False)